@model TestMVC.Models.UserModel

<header>
	<h1>U.S. Presidents</h1>
	<h3>A collection</h3>
</header>

<div class="user-container">
	<div class="user">
		<h2>@Model.FirstName @Model.LastName</h2>
		<h3>@Model.presidentialTerm</h3>
		<img src="@Model.ProfileImagePath"/>
	</div>

	<div class="user">
	    <h2>@Model.FirstName @Model.LastName</h2>
	    <h3>@Model.presidentialTerm</h3>
	    <img src="@Model.ProfileImagePath"/>
	</div>

	<div class="user">
	    <h2>@Model.FirstName @Model.LastName</h2>
	    <h3>@Model.presidentialTerm</h3>
	    <img src="@Model.ProfileImagePath"/>
	</div>
</div>