@model TestMVC.Models.UserModel

<div class="user">
	<h2>@Model.FirstName @Model.LastName</h2>
	<h3>@Model.formattedName</h3>
	<img src="@Model.ProfileImagePath"/>
</div>

<div class="user">
    <h2>@Model.FirstName @Model.LastName</h2>
    <h3>@Model.formattedName</h3>
    <img src="@Model.ProfileImagePath"/>
</div>

<div class="user">
    <h2>@Model.FirstName @Model.LastName</h2>
    <h3>@Model.formattedName</h3>
    <img src="@Model.ProfileImagePath"/>
</div>